.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.Listcard{
  margin-bottom: 5px;
}
#HomeHead{
  background-color: #9575CD ;
  padding: 5px;
  justify-content: center;
  border-radius: 3px;
  color: white;
}
.breadcrumb{
  background-color: rgb(139, 203, 255);
  font-weight: bolder;
  color: #0f0f0f;
  border-radius: 2px;
  width:fit-content;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.rentTag{
  background-color: #D1C4E9;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}